* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
  }

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: #555;
    background-color: #f7fbfc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

.pageWrapper {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;

    height: 100vh;
    overflow-y: auto;
    transition: 0.75s;
}


.pageWrapper::-webkit-scrollbar {
    width: 0.4rem;
  }
  
  .pageWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #17171a;
  }
  
  .pageWrapper::-webkit-scrollbar-thumb {
    background-color: #7777;
    border-radius: 1rem;
  }
  


  #light {
    background-color: #fff;
    color: #191919;
  }

  #dark {
    background-color: #191919;
    color: #fff;
  }

  .light {
    color: #191919;
  }

  .dark {
    color: #fff;
  }
  

#particles-js .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important
}


.container {
    width: auto;
    margin: 0 4rem;
  }
  
  .container > * {
    z-index: 1;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      margin: 0 1rem;
    }
  }
  
  @media screen and (max-height: 600px) {
    .container {
      height: auto;
    }
    .pageWrapper {
      overflow-y: scroll;
    }
  }

  
/* .header {
    z-index: 1;
    color: #fff;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1.5em;
    border: solid red 10px;
}
.header .headline {
    font-size: 35px;
    display: block;
    line-height: 1;
    color: #fff;
}
.header .headline .orange {
    line-height: 1;
    color: #c84b31;
}
@media only screen and (min-width:550px) {
    .header .headline {
        margin: 0;
        font-size: 100px
    }
}
.header .typewriter {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px
}
@media only screen and (min-width:550px) {
    .header .typewriter {
        font-size: 40px
    }
}
.header .description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px
}
@media only screen and (min-width:550px) {
    .header .description {
        font-size: 30px
    }
}
.down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    cursor: pointer;
}
.down .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite
}
.contact{
    width: 230px;
    height: 60px;
    width: 18em;
    height: 4em;
    margin-top: 30px;
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.09),
      inset 0 1px 0 rgba(255, 255, 255, 0.04), 0 0 1px rgba(0, 0, 0, 0.3),
      0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 100px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 60px;
    text-align: center;
    letter-spacing: 5px;
    transition: all 0.3s cubic-bezier(0.67, 0.13, 0.1, 0.81),
      transform 0.15s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.contact:hover {
    background: linear-gradient(45deg, #f05924, #d5135a);
    transition: all 0.3s cubic-bezier(0.67, 0.13, 0.1, 0.81),
}
 */