.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: #191919;
  z-index: 3;
  transition: 0.75s;
}

#dark .navigation {
  background-color: #191919;
}

#light .navigation {
  background-color: #fff;
}

.brand-name {
  text-decoration: none;
  color: #c84b31;
  font-size: 1.3rem;
  margin-left: 4rem;
}

#dark .brand-name {
  color: #c84b31;
}

#light .brand-name {
  color: #c84b31;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #2d4263;
}

#dark .navigation-menu li a {
  color: #fff;
}

#light .navigation-menu li a {
  color: #2d4263;
}

.navigation-menu li a:hover {
  color: #191919;
}

#dark .navigation-menu li a:hover {
  color: #eee;
}

#light .navigation-menu li a:hover {
  color: #191919;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #2d4263;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: none;
}

.toggleDarkMode {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #2d4263;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 4rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger:hover {
  background-color: #191919;
}

.toggleDarkMode:hover {
  background-color: #191919;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .brand-name {
    position: relative;
    margin-left: 1rem;
  }
  .toggleDarkMode {
    margin-right: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid 191919;
  }

  #dark .navigation-menu ul {
    background-color: #191919;
  }

  #light .navigation-menu ul {
    background-color: white;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: #191919;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }

  #dark .navigation-menu li:hover {
    background-color: #2d4263;
  }

  #light .navigation-menu li:hover {
    background-color: #eee;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    /* previous styles */
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu.expanded ul {
    display: block;
  }
}
