.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  display: flex;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  color: #283b8b;
  border: #283b8b solid 1px;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 1s;
}

.social-btn a {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
  text-decoration: none;
  color: #283b8b;
  font-size: 1rem;
}

.social-btn:hover {
  width: 100px;
  border-radius: 5px;
  background: #283b8b;
  color: #fff;
}

.social-btn:hover a {
  padding: 2px;
  width: max-content;
  color: #fff;
}
