.footer {
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: 0 4rem;
  flex-wrap: wrap;
}

.copyright{
  display: flex;
  align-items: center;
}

.social-links{
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  color: #2d4263;
  border: #2d4263 solid 1px;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 0.5s;
}

.social-btn a {
  width: 0px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  text-decoration: none;
  color: #2d4263;
  font-size: 1rem;
}

.social-btn:hover {
  width: 100px;
  border-radius: 5px;
  background: #2d4263;
  color: #fff;
}

.social-btn:hover a {
  padding: 2px;
  width: max-content;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 1rem;
    height: 100px;
  }
  .copyright{
    width: 100%;
    justify-content: center;
    order: 2;
    margin-top: 1rem;
  }
  .social-links{
    width: 100%;
    justify-content: center;
  }
}