.projectsWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 5rem;
}

.ProjectCard {
  background-color: #405c8a;
  width: 20rem;
  padding: 1rem;
}

.ProjectImg {
  width: auto;
  height: auto;
  min-height: 150px;
}

.ProjectType {
  display: block;
  margin: 0.5rem 0;
}

#project2 .ProjectImg {
  background-image: url(../img/2.png);
}

#project3 .ProjectImg {
  background-image: url(../img/3.png);
}

#project4 .ProjectImg {
  background-image: url(../img/4.png);
}

#project5 .ProjectImg {
  background-image: url(../img/5.png);
}

.ProjectImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ProjectStacks {
  list-style: "→";
  margin: 0.5rem;
}

.ProjectStacks li {
  padding: 2px 10px;
  border-radius: 10px;
  margin-left: 1rem;
}

.Footer .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  margin: 0 0.25rem;
  transition: 0.75s;
  text-decoration: none;
}
.ProjectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
